### Pattern replacement using REGEX

This notebook has been created with the sole purpose of correcting the spelling mistakes that can be found in the attacks dataframe. The reason to create  this additional notebook is mainly practical, as there a lot of pattern to replace, and I have not been able to find of way of optimazing the process

In [1]:
import pandas as pd
import re
import collections
pd.set_option('display.max_rows',6000)

In [164]:
data = pd.read_csv("data\data.csv")

In [3]:
def counts(column):
    '''
    This function returns the value_counts() result of a column as a dictionary sorted by key in ascending order.
    Easier to examine.
    Args: the column of interest in the format of df.column or df["columnd"]
    '''
    s = (column.value_counts())
    dictionary =  s.to_dict()
    return collections.OrderedDict(sorted(dictionary.items()))

### Case Number

In [ ]:
# We delele the fragemnts that come after the last '.'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'(\.\w$)', value = '', regex = True)
#We delete the combination of uppercase and number after a '.'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.[A-Z]\w', value = '', regex = True)

#We delete the combination of upper or lowercase that come after a '.'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.[A-Z]|[a-z]', value = '', regex = True)

#We delete the last '.' 

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.$', value = '', regex = True)

#We delete the '.' and '&' combination

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.\ \&', value = '', regex = True)

#We delete the '/'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\/', value = '', regex = True)

#We delete the combination of '.' or '-' and 0-1 letter after

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'(\.|-)\w?$', value = '', regex = True)

Most case numbers have the format of YYYY:MM:DD, or at least it can be interpreted as such. For that reason, even if at first it may seem as if this column wont give valuable information, it is possible to extract the month (middle characters) of each incident and see which months have the most attacks, which is something worth analysing

In [2]:
months = ['.01.','.02.','.03.','.04.','.05.','.06.','.07.','.08.','.09.','.10.','.11.','.12.']

In [24]:
data = pd.read_csv('data\\data_regex.csv')

In [3]:
month_name = {1.0:'Jan',2.0:'Feb',3.0:'Mar',4.0:'Apr',5.0:'May',6.0:'Jun',
              7.0:'Jul',8.0:'Aug',9.0:'Sep',10.0:'Oct',11.0:'Nov',12.0:'Dec'}

In [5]:
def case_column(value):
    for month in months:
        if  month in value:
            return month[1:3]
        else: 
            pass

In [27]:
data['month_incident'] = list(map(case_column,data.Case_Number))

In [6]:
data['month_incident'] = data.month_incident.map(month_name)

In [7]:
data.month_incident.unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', nan], dtype=object)

In [9]:
data.to_csv(r'C:\Users\juanp\proyectos_varios\shark_attacks\data\data_regex.csv' , index = False)

### Country

In [165]:
data.Country = data.Country.replace(to_replace = "CEYLON" , value = "SRI LANKA" )

In [166]:
data.Country = data.Country.replace(to_replace = r"\?$", value = "", regex = True)

In [167]:
data.Country = data.Country.replace(to_replace = 'MAARTIN', value = 'MARTIN', regex = True)

In [168]:
data.Country = data.Country.replace(to_replace = r'(\w* \/ .*)', value = 'UNKNOWN', regex = True)

In [169]:
data.Country = data.Country.replace(to_replace = 'RED UNKNOWN', value = 'UNKNOWN', regex = True)

In [170]:
data.Country = data.Country.replace(to_replace = 'SOLOMON UNKNOWN', value = 'SOLOMON ISLANDS', regex = True)

In [60]:
data.Country = data.Country.replace(to_replace = ' CEYLON (SRI LANKA)', value = 'SRI LANKA')

In [17]:
data.Country = data.Country.replace(to_replace = 'NEW GUINEA', value = 'PAPUA NEW GUINEA')

In [18]:
data.Country = data.Country.replace(to_replace = 'COLUMBIA', value = 'COLOMBIA')

### Second round of modifications to have the proper format for visualzation

In [ ]:
data.Country = data.Country.apply(lambda x: x.title() if x != 'USA' else x)

In [ ]:
data.Country = data.Country.replace(to_replace = 'England', value = 'United Kingdom')
data.Country = data.Country.replace(to_replace = 'Scotland', value = 'United Kingdom')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Portugal ', value = 'Portugal')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Okinawa', value = 'Japan')

In [ ]:
data.Country = data.Country.replace(to_replace = 'New Britain', value = 'USA')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Turks & Caicos', value = 'Turks and Caicos')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Azores', value = 'Portugal')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Burma', value = 'Myanmar')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Trinidad & Tobago', value = 'Trinidad and Tobago')
data.Country = data.Country.replace(to_replace = 'Tobago', value = 'Trinidad and Tobago')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Western Samoa', value = 'Samoa')

In [ ]:
data.Country = data.Country.replace(to_replace = 'St Helena, British Overseas Territory', 
                                    value = 'Saint Helena, Ascension and Tristan da Cunha')

In [ ]:
data.Country = data.Country.replace(to_replace = 'United Arab Emirates (Uae)', value = 'United Arab Emirates')

In [ ]:
data.Country = data.Country.replace(to_replace = 'Federated States Of Micronesia', value = 'Federated States Of Micronesia')

### Time

In [171]:
data.Time = data.Time.replace(to_replace = r'(s\--\s\w{2}\w\w{2})', value ='UNKNOWN', regex = True )

In [172]:
data.Time = data.Time.replace(to_replace = 'Afternoon', value ='18h30', regex = True )

In [173]:
data.Time = data.Time.replace(to_replace = 'Dusk', value ='07h30', regex = True )

In [174]:
data.Time = data.Time.replace(to_replace = 'Early afternoon', value ='18h00', regex = True )

In [175]:
data.Time = data.Time.replace(to_replace = 'Evening', value ='20h00', regex = True )

In [176]:
data.Time = data.Time.replace(to_replace = 'Late afternoon', value ='19h30', regex = True )

In [177]:
data.Time = data.Time.replace(to_replace = 'Midday', value ='12h00', regex=True )

In [178]:
data.Time = data.Time.replace(to_replace = 'Midnight', value ='00h00', regex = True )

In [179]:
data.Time = data.Time.replace(to_replace = 'Morning', value ='08h30', regex = True )

In [180]:
data.Time = data.Time.replace(to_replace = 'Night', value ='21h30', regex = True )

In [181]:
data.Time = data.Time.replace(to_replace = r'(\/\w*)', value ='', regex = True )

In [182]:
data.Time = data.Time.replace(to_replace = '13h345', value ='13h45', regex = True )

In [183]:
data.Time = data.Time.replace(to_replace = '15h00j', value ='15h00', regex = True )

In [184]:
data.Time = data.Time.replace(to_replace = '0830', value ='08h30', regex = True )

In [185]:
data.Time = data.Time.replace(to_replace = '11h115', value ='11h15', regex = True )

In [186]:
data.Time = data.Time.replace(to_replace = '06j00', value ='06h00', regex = True )

In [187]:
data.Time = data.Time.replace(to_replace = r'(\<*)', value ='', regex = True )

In [188]:
data.Time = data.Time.replace(to_replace = r'(\>*)', value ='', regex = True )

In [189]:
data.Time = data.Time.replace(to_replace = r'h', value =':', regex = True )

In [190]:
data.Time = data.Time.replace(to_replace = 'fall', value ='', regex = True )

### Type

In [191]:
data.Type = data.Type.replace(to_replace = 'Boating', value = 'Boat')

In [192]:
data.Type = data.Type.replace(to_replace = 'Boatomg', value = 'Boat')

In [193]:
data.Type = data.Type.replace(to_replace = 'Questionable', value = 'Unknown')

In [194]:
data.Type.value_counts()

Unprovoked      4594
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Unknown            6
Name: Type, dtype: int64

### Activity

In [195]:
data.Activity= data.Activity.replace(to_replace = r'\s(\w*\s)*\w*', value ='', regex = True )

In [196]:
data.Activity= data.Activity.replace(to_replace = r'(\-\w*)+', value ='', regex = True )

In [197]:
data.Activity= data.Activity.replace(to_replace = 'Surf', value ='Surfing', regex = True )

In [198]:
data.Activity= data.Activity.replace(to_replace = 'Body', value ='Surfing', regex = True )

In [199]:
data.Activity= data.Activity.replace(to_replace = 'Surfinging', value ='Surfing', regex = True )

In [200]:
data.Activity= data.Activity.replace(to_replace = 'Surfingsitting', value ='Surfing', regex = True )

In [201]:
data.Activity= data.Activity.replace(to_replace = 'Windsurfing', value ='Surfing', regex = True )

In [202]:
data.Activity= data.Activity.replace(to_replace = 'Paddling', value ='Surfing', regex = True )

In [203]:
data.Activity= data.Activity.replace(to_replace = 'Paddle', value ='Surfing', regex = True )

In [204]:
data.Activity= data.Activity.replace(to_replace = r'Kayak', value ='Kayaking', regex = True )

In [205]:
data.Activity= data.Activity.replace(to_replace = 'Kayakinging', value ='Kayaking', regex = True )

In [206]:
data.Activity= data.Activity.replace(to_replace = 'Freedom', value ='Swimming', regex = True )

In [207]:
data.Activity= data.Activity.replace(to_replace = 'Scuba', value ='Diving', regex = True )

In [208]:
data.Activity= data.Activity.replace(to_replace = 'Dived', value ='Diving', regex = True )

In [209]:
data.Activity= data.Activity.replace(to_replace = 'Divingdiving', value ='Diving', regex = True )

In [210]:
data.Activity= data.Activity.replace(to_replace = 'Divingbut', value ='Diving', regex = True )

In [211]:
data.Activity= data.Activity.replace(to_replace = 'Pearl', value ='Diving', regex = True )

In [212]:
data.Activity= data.Activity.replace(to_replace = 'Floating', value ='Bathing', regex = True )

In [213]:
data.Activity= data.Activity.replace(to_replace = 'boat', value ='Boating', regex = True )

In [214]:
data.Activity= data.Activity.replace(to_replace = 'Boat', value ='Boating', regex = True )

In [215]:
data.Activity= data.Activity.replace(to_replace = 'Boatinging', value ='Boating', regex = True )

In [216]:
data.Activity= data.Activity.replace(to_replace = 'Sailing', value ='Boating', regex = True )

### Sex

In [218]:
data.rename(columns={"Sex ":"Sex"}, inplace=True)

In [219]:
data.Sex = data.Sex.str.rstrip()

In [220]:
data.Sex= data.Sex.replace(to_replace = 'N', value ='M')

In [221]:
data.Sex= data.Sex.replace(to_replace = 'lli', value ='Unknown')

In [222]:
data.Sex= data.Sex.replace(to_replace = '.', value ='Unknown')

### Fatal

In [223]:
data.rename(columns={"Fatal (Y/N)":"Fatal"},inplace=True)

In [224]:
data.Fatal = data.Fatal.replace(to_replace = 'M', value = 'N' )

In [225]:
data.Fatal = data.Fatal.replace(to_replace = 'y', value = 'Y' )

In [226]:
data.Fatal = data.Fatal.replace(to_replace = '2017', value = 'Unknown' )

In [227]:
data.Fatal = data.Fatal.replace(to_replace = 'UNKNOWN', value = 'Unknown' )

### Case Number

In [228]:
data.rename(columns={"Case Number":"Case_Number"},inplace=True)

In [229]:
data.Case_Number = data.Case_Number.replace(to_replace = r'(\.\w$)', value = '', regex = True)

In [230]:
data.Case_Number = data.Case_Number.replace(to_replace = r'\.[A-Z]\w', value = '', regex = True)

In [231]:
data.Case_Number = data.Case_Number.replace(to_replace = r'\.[A-Z]|[a-z]', value = '', regex = True)

In [232]:
data.Case_Number = data.Case_Number.replace(to_replace = r'\.$', value = '', regex = True)

In [233]:
data.Case_Number = data.Case_Number.replace(to_replace = r'\.\ \&', value = '', regex = True)

In [234]:
data.Case_Number = data.Case_Number.replace(to_replace = r'\/', value = '', regex = True)

In [235]:
data.Case_Number = data.Case_Number.replace(to_replace = r'(\.|-)\w?$', value = '', regex = True)

### Injury

The information in the **Injury** column is very complicated to work with as there are a series of cells that have long texts written on them. However, it is possible to extract those incidents that were **FATAL** due to shark attacks.

In [95]:
fatal = ['FATAL']

def fatal_column(value):
    for incident in fatal: 
        if incident.lower() in value.lower():
            return 'FATAL'

With this function it is possible to create a categorization column based on words or patterns from other columns. In this case the weord used is **FATAL**

In [96]:
data['fatal_injury'] = list(map(fatal_column, data.Injury))

### Species

In [267]:
data.Species = data.Species.str.lstrip()

In [253]:
data.Species = data.Species.replace(to_replace = r'"', value = '', regex = True)

In [240]:
data.Species = data.Species.replace(to_replace = r'\d.', value='', regex=True)

In [241]:
data.Species = data.Species.replace(to_replace = r'\ m', value='', regex=True)

In [242]:
data.Species = data.Species.replace(to_replace = r'to\s*', value='', regex=True)

In [251]:
data.Species = data.Species.replace(to_replace = r"\['] |\[] |A |a |m |kg |-lb|\[' ']|\['  ']|\[ ']|\[']|\[. ']|\[.]|\[]|\' ' |\\' |\' |>m|", value='', regex=True)

In [94]:
sharks = ['White shark','Tiger shark','Lemon shark', 'Blacktip shark', 'Blacktail reef shark',
          'Blacktip reef shark', 'spinner shark','Blue nose shark','Blue pointer', 'Blue pointers', 'Blue shark',
         'Bonitshark','Broadnose sevenguill shark', 'Bronza whaler shark', 'Bronze whaler', 'Bull shark', 
          'Caribbean reef Shark', ' Caribbean reef Shark', 'Carpet shark', 'Copper shark', 'Dog shark', 'Cow shark',
         'Dusky shark', 'Galapagos shark', 'Grey nurse shark', 'Grey reef shark', 'Hammerhead shark',
          'Tiger shark','Wobbegong shark','Grey nurse shark','Nurse shark','Raggedoth shark', 'Mako shark',
         'Bronze whaler shark','Zambesi shark','Sand shark','Lemon shark','Basking shark','Sandtiger shark',
         'Oceanic whitetip shark','Angel shark']

In [98]:
def species_column(value):
    for species in sharks:
        if species.lower() in value.lower():
            return species.lower()
        else: 
            pass

In [99]:
data['shark_species'] = list(map(species_column,data.Species))

In [102]:
data.shark_species.value_counts()

white shark               635
tiger shark               285
bull shark                174
blacktip shark             64
bronze whaler              64
nurse shark                57
wobbegong shark            46
mako shark                 44
hammerhead shark           44
raggedoth shark            43
spinner shark              43
blue shark                 41
grey nurse shark           39
lemon shark                37
zambesi shark              29
oceanic whitetip shark     23
sand shark                 18
grey reef shark            17
caribbean reef shark       16
dusky shark                14
blacktip reef shark        12
carpet shark                8
galapagos shark             7
blue pointer                7
basking shark               7
angel shark                 6
dog shark                   6
copper shark                5
cow shark                   2
blue nose shark             2
blacktail reef shark        1
bonitshark                  1
Name: shark_species, dtype: int64

In [11]:
test = pd.read_csv('data\\data_regex.csv')

### Data checkpoint

In [29]:
data.to_csv(r'C:\Users\juanp\proyectos_varios\shark_attacks\data\data_regex.csv' , index = False)

In [16]:
data = pd.read_csv('data\\data_regex.csv')

In [33]:
data.columns

Index(['Case_Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'fatal_injury', 'shark_species', 'month_incident'],
      dtype='object')