In [1]:
!kaggle datasets download -d teajay/global-shark-attacks

Downloading global-shark-attacks.zip to C:\Users\juanp\Ironhack\proyectos\pandas-project

  0%|          | 0.00/548k [00:00<?, ?B/s]
100%|##########| 548k/548k [00:00<00:00, 5.39MB/s]
100%|##########| 548k/548k [00:00<00:00, 5.34MB/s]

In [2]:
!tar -xzvf global-shark-attacks.zip

x attacks.csv

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import re
import collections

In [3]:
data = pd.read_csv("attacks.csv", encoding='cp1252')

## 1. Basic Analysis

In [33]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [50]:
data.shape

(25723, 24)

In [35]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

The dataset contains a number of columns that wont be relevant for the analysis, like "pdf" of "href formula", and others whose meaning cannot be interpreted easily, like "Unnamed 22" or "Original order". This columsn can be dropped as they wont be useful. Also, the column "Case Number" and "Date" seem to contain the same date information with different formats, so we can delete one of them and work with the other.

In [4]:
data = data.drop(["Date","Name","Investigator or Source","pdf","href formula","href","Case Number.1","Case Number.2",
                 "original order","Unnamed: 22", "Unnamed: 23"], axis=1)

### NaN values

In [81]:
data.isnull().sum()

Case Number    17021
Year           19423
Type           19425
Country        19471
Area           19876
Location       19961
Activity       19965
Sex            19986
Age            22252
Injury         19449
Fatal (Y/N)    19960
Time           22775
Species        22259
dtype: int64

There is a great number of rows that contain a lot of Nan values. An way to deal with them would be to drop all rows that have a 100% of NaN values, however, there are rows that have many NaN values without reaching the 100%. In order keep the maximun amount of information possible,the **thresh** parameter of the **dropna()** built-in function will be used to determine the maximum number of NaN values allowed per row. In this case the parameter will be set to 6

In [5]:
data = data.dropna(axis=0, thresh=6)

In [170]:
data.shape

(6301, 13)

With this, we have deleted around 19,000 rows of the dataset, almost 4/5 of the total

### How to treat the remaining NaN values?

There are different ways to fill the NaN values in a dataset, and each one depends on a series of factors like the type of the column, the kind of analysis, etc. In this case, two approaches are going to be taken. Those NaN values in string type columns are going to be replaced by **Unknown**, as it is something that should not be guessed nor inferred. In the case of data tyoe columns, even though they have not yet been transformed, are going to be repalced with the previous value because it can be assumed that they follow a certain order

#### When trying to replace the NaN values of categorical columns, there is an error related to the **Species** column, at is because it has a white space at the end. This can be solved later, but in order to have all the columns with the same format lets do it now

In [6]:
data.rename(columns={"Species ":"Species"},inplace  =True)

In [7]:
#Replace the NaN with Unknown of categorical values (object)
data[["Type", "Country", "Area", "Activity", "Injury"
            ,"Sex ", "Fatal (Y/N)", "Species"]] = data[["Type", "Country", "Area", "Activity", "Injury"
                         ,"Sex ", "Fatal (Y/N)","Species"]].fillna("Unknown")

In [8]:
#In the case of 'Year' and 'Time' we're going to fill NaN values with the previous one, as we assume that they
#follow a certain order, and doing this is better that filling them with 'NONE'

data[["Case Number","Time", "Year"]] = data[["Case Number","Time", "Year"]].fillna(method = 'ffill')

## 2. Column Analysis

Now, lets check each of the colums to see what corrections need to be done

### **Year**

In [9]:
def sorting(data):
    return data.sort_values(ascending = True)

In [10]:
def counts(column):
    '''
    This function returns the value_counts() result of a column as a dictionary sorted by key in ascending order.
    Easier to examine.
    Args: the column of interest in the format of df.column or df["columnd"]
    '''
    s = (column.value_counts())
    dictionary =  s.to_dict()
    return collections.OrderedDict(sorted(dictionary.items()))

In [178]:
counts(data.Year)

OrderedDict([(0, 125),
             (5, 1),
             (77, 1),
             (500, 1),
             (1543, 1),
             (1554, 1),
             (1555, 1),
             (1580, 1),
             (1595, 1),
             (1617, 1),
             (1637, 1),
             (1642, 2),
             (1700, 3),
             (1703, 1),
             (1721, 1),
             (1723, 1),
             (1733, 1),
             (1738, 1),
             (1742, 1),
             (1748, 1),
             (1749, 1),
             (1751, 1),
             (1753, 1),
             (1755, 1),
             (1758, 1),
             (1764, 1),
             (1767, 1),
             (1771, 1),
             (1776, 2),
             (1779, 1),
             (1780, 1),
             (1783, 1),
             (1784, 1),
             (1785, 1),
             (1786, 1),
             (1787, 1),
             (1788, 1),
             (1791, 1),
             (1792, 1),
             (1797, 1),
             (1800, 1),
             (1801, 1),
             (1802, 1),
             (1803, 2),
             (1804, 1),
             (1805, 1),
             (1807, 1),
             (1808, 3),
             (1810, 1),
             (1811, 1),
             (1812, 1),
             (1815, 1),
             (1816, 1),
             (1817, 4),
             (1818, 1),
             (1819, 1),
             (1822, 1),
             (1823, 1),
             (1825, 2),
             (1826, 5),
             (1827, 3),
             (1828, 2),
             (1829, 3),
             (1830, 4),
             (1831, 2),
             (1832, 2),
             (1834, 1),
             (1835, 2),
             (1836, 2),
             (1837, 5),
             (1839, 4),
             (1840, 5),
             (1841, 1),
             (1842, 4),
             (1844, 4),
             (1845, 6),
             (1846, 3),
             (1847, 9),
             (1848, 4),
             (1849, 7),
             (1850, 2),
             (1851, 3),
             (1852, 10),
             (1853, 8),
             (1855, 7),
             (1856, 4),
             (1857, 1),
             (1858, 6),
             (1859, 1),
             (1860, 7),
             (1861, 5),
             (1862, 12),
             (1863, 11),
             (1864, 14),
             (1865, 4),
             (1866, 2),
             (1867, 5),
             (1868, 6),
             (1869, 2),
             (1870, 8),
             (1871, 9),
             (1872, 8),
             (1873, 4),
             (1874, 12),
             (1875, 5),
             (1876, 9),
             (1877, 14),
             (1878, 13),
             (1879, 8),
             (1880, 15),
             (1881, 9),
             (1882, 12),
             (1883, 13),
             (1884, 7),
             (1885, 9),
             (1886, 15),
             (1887, 13),
             (1888, 15),
             (1889, 9),
             (1890, 17),
             (1891, 9),
             (1892, 11),
             (1893, 13),
             (1894, 15),
             (1895, 20),
             (1896, 12),
             (1897, 11),
             (1898, 21),
             (1899, 20),
             (1900, 13),
             (1901, 9),
             (1902, 15),
             (1903, 10),
             (1904, 14),
             (1905, 18),
             (1906, 21),
             (1907, 23),
             (1908, 13),
             (1909, 18),
             (1910, 14),
             (1911, 16),
             (1912, 14),
             (1913, 18),
             (1914, 18),
             (1915, 12),
             (1916, 25),
             (1917, 11),
             (1918, 5),
             (1919, 14),
             (1920, 15),
             (1921, 12),
             (1922, 22),
             (1923, 21),
             (1924, 19),
             (1925, 14),
             (1926, 21),
             (1927, 19),
             (1928, 26),
             (1929, 38),
             (1930, 26),
             (1931, 29),
             (1932, 27),
             (1933, 22),
             (1934, 27),
             (1935, 32),
             (1936, 32),
             (1937, 30),
             (1938, 24),
             (1939, 25),
             (1940, 24),
             (1941, 27),
             (1942, 41),
             (1943, 28),
             (1944, 31),
             (1945, 16),
             (1946, 26),
             (1947, 30),
             (1948, 29),
             (1949, 31),
             (1950, 43),
             (1951, 32),
             (1952, 29),
             (1953, 36),
             (1954, 42),
             (1955, 43),
             (1956, 51),
             (1957, 41),
             (1958, 54),
             (1959, 93),
             (1960, 93),
             (1961, 78),
             (1962, 86),
             (1963, 61),
             (1964, 66),
             (1965, 51),
             (1966, 58),
             (1967, 48),
             (1968, 47),
             (1969, 30),
             (1970, 42),
             (1971, 28),
             (1972, 35),
             (1973, 27),
             (1974, 38),
             (1975, 49),
             (1976, 39),
             (1977, 26),
             (1978, 25),
             (1979, 25),
             (1980, 35),
             (1981, 49),
             (1982, 40),
             (1983, 50),
             (1984, 41),
             (1985, 37),
             (1986, 39),
             (1987, 35),
             (1988, 55),
             (1989, 53),
             (1990, 38),
             (1991, 38),
             (1992, 56),
             (1993, 56),
             (1994, 56),
             (1995, 76),
             (1996, 61),
             (1997, 57),
             (1998, 65),
             (1999, 66),
             (2000, 97),
             (2001, 92),
             (2002, 88),
             (2003, 92),
             (2004, 92),
             (2005, 103),
             (2006, 103),
             (2007, 112),
             (2008, 122),
             (2009, 120),
             (2010, 101),
             (2011, 128),
             (2012, 117),
             (2013, 122),
             (2014, 127),
             (2015, 143),
             (2016, 130),
             (2017, 137),
             (2018, 53)])

The first thing that should be noticed is that ther a 125 attack in year 0, which makes no sense. Also, there are records of attacks taking place in years that are too ancient. This may be typing errors, so, instead of deleting all those records, and losing all the information, when analyzing the **Year** column a threshold will be set to avoid taking this attypical years into account

It should also be mentioned that the years have decimals, which is not possible. Therefore, lets remove them.

In [11]:
data.Year = data.Year.astype('int32')

In [16]:
# The df has been safed as a csv so that the progress is not lost if jupyter notebook is closed 
data.to_csv(r'C:\Users\juanp\Ironhack\proyectos\pandas-project\data\data_year.csv' , index = True)

In [91]:
prueba = pd.read_csv("data\data_year.csv")

### **Country**

In [21]:
counts(data.Country)

OrderedDict([(' PHILIPPINES', 1),
             (' TONGA', 3),
             ('ADMIRALTY ISLANDS', 1),
             ('AFRICA', 1),
             ('ALGERIA', 1),
             ('AMERICAN SAMOA', 3),
             ('ANDAMAN / NICOBAR ISLANDAS', 1),
             ('ANDAMAN ISLANDS', 1),
             ('ANGOLA', 1),
             ('ANTIGUA', 2),
             ('ARGENTINA', 1),
             ('ARUBA', 1),
             ('ASIA?', 1),
             ('ATLANTIC OCEAN', 17),
             ('AUSTRALIA', 1338),
             ('AZORES', 5),
             ('BAHAMAS', 109),
             ('BAHREIN', 1),
             ('BANGLADESH', 1),
             ('BARBADOS', 6),
             ('BAY OF BENGAL', 1),
             ('BELIZE', 3),
             ('BERMUDA', 16),
             ('BRAZIL', 112),
             ('BRITISH ISLES', 1),
             ('BRITISH NEW GUINEA', 1),
             ('BRITISH VIRGIN ISLANDS', 1),
             ('BRITISH WEST INDIES', 1),
             ('BURMA', 4),
             ('Between PORTUGAL & INDIA', 1),
             ('CANADA', 12),
             ('CAPE VERDE', 3),
             ('CARIBBEAN SEA', 8),
             ('CAYMAN ISLANDS', 2),
             ('CENTRAL PACIFIC', 2),
             ('CEYLON', 3),
             ('CEYLON (SRI LANKA)', 1),
             ('CHILE', 8),
             ('CHINA', 7),
             ('COLUMBIA', 9),
             ('COMOROS', 1),
             ('COOK ISLANDS', 1),
             ('COSTA RICA', 17),
             ('CRETE', 2),
             ('CROATIA', 34),
             ('CUBA', 46),
             ('CURACAO', 1),
             ('CYPRUS', 1),
             ('Coast of AFRICA', 1),
             ('DIEGO GARCIA', 1),
             ('DJIBOUTI', 1),
             ('DOMINICAN REPUBLIC', 7),
             ('ECUADOR', 9),
             ('EGYPT', 38),
             ('EGYPT ', 2),
             ('EGYPT / ISRAEL', 1),
             ('EL SALVADOR', 4),
             ('ENGLAND', 23),
             ('EQUATORIAL GUINEA / CAMEROON', 1),
             ('FALKLAND ISLANDS', 1),
             ('FEDERATED STATES OF MICRONESIA', 1),
             ('FIJI', 62),
             ('FRANCE', 13),
             ('FRENCH POLYNESIA', 25),
             ('Fiji', 3),
             ('GABON', 1),
             ('GEORGIA', 1),
             ('GHANA', 1),
             ('GRAND CAYMAN', 1),
             ('GREECE', 25),
             ('GREENLAND', 1),
             ('GRENADA', 4),
             ('GUAM', 4),
             ('GUATEMALA', 1),
             ('GUINEA', 3),
             ('GULF OF ADEN', 1),
             ('GUYANA', 3),
             ('HAITI', 3),
             ('HONDURAS', 4),
             ('HONG KONG', 24),
             ('ICELAND', 2),
             ('INDIA', 40),
             ('INDIAN OCEAN', 7),
             ('INDIAN OCEAN?', 1),
             ('INDONESIA', 23),
             ('IRAN', 29),
             ('IRAN / IRAQ', 1),
             ('IRAQ', 12),
             ('IRELAND', 1),
             ('ISRAEL', 7),
             ('ITALY', 71),
             ('ITALY / CROATIA', 1),
             ('JAMAICA', 27),
             ('JAPAN', 34),
             ('JAVA', 1),
             ('JOHNSTON ISLAND', 2),
             ('KENYA', 10),
             ('KIRIBATI', 6),
             ('KOREA', 1),
             ('KUWAIT', 1),
             ('LEBANON', 3),
             ('LIBERIA', 3),
             ('LIBYA', 6),
             ('MADAGASCAR', 8),
             ('MALAYSIA', 5),
             ('MALDIVE ISLANDS', 1),
             ('MALDIVES', 1),
             ('MALTA', 5),
             ('MARSHALL ISLANDS', 13),
             ('MARTINIQUE', 3),
             ('MAURITIUS', 10),
             ('MAYOTTE', 1),
             ('MEDITERRANEAN SEA', 2),
             ('MEXICO', 89),
             ('MEXICO ', 1),
             ('MICRONESIA', 3),
             ('MID ATLANTIC OCEAN', 5),
             ('MID-PACIFC OCEAN', 1),
             ('MONACO', 1),
             ('MONTENEGRO', 3),
             ('MOZAMBIQUE', 45),
             ('NAMIBIA', 2),
             ('NETHERLANDS ANTILLES', 1),
             ('NEVIS', 1),
             ('NEW BRITAIN', 6),
             ('NEW CALEDONIA', 53),
             ('NEW GUINEA', 10),
             ('NEW ZEALAND', 128),
             ('NICARAGUA', 6),
             ('NICARAGUA ', 1),
             ('NIGERIA', 4),
             ('NORTH ATLANTIC OCEAN', 4),
             ('NORTH ATLANTIC OCEAN ', 1),
             ('NORTH PACIFIC OCEAN', 7),
             ('NORTH SEA', 1),
             ('NORTHERN ARABIAN SEA', 1),
             ('NORTHERN MARIANA ISLANDS', 1),
             ('NORWAY', 2),
             ('OCEAN', 1),
             ('OKINAWA', 6),
             ('PACIFIC OCEAN', 17),
             ('PACIFIC OCEAN ', 2),
             ('PALAU', 5),
             ('PALESTINIAN TERRITORIES', 1),
             ('PANAMA', 32),
             ('PAPUA NEW GUINEA', 134),
             ('PARAGUAY', 1),
             ('PERSIAN GULF', 4),
             ('PERU', 1),
             ('PHILIPPINES', 61),
             ('PORTUGAL', 3),
             ('PUERTO RICO', 1),
             ('RED SEA', 1),
             ('RED SEA / INDIAN OCEAN', 1),
             ('RED SEA?', 1),
             ('REUNION', 60),
             ('REUNION ISLAND', 1),
             ('ROATAN', 1),
             ('RUSSIA', 4),
             ('SAMOA', 8),
             ('SAN DOMINGO', 1),
             ('SAUDI ARABIA', 5),
             ('SCOTLAND', 8),
             ('SENEGAL', 11),
             ('SEYCHELLES', 7),
             ('SIERRA LEONE', 8),
             ('SINGAPORE', 6),
             ('SLOVENIA', 1),
             ('SOLOMON ISLANDS', 30),
             ('SOLOMON ISLANDS / VANUATU', 1),
             ('SOMALIA', 6),
             ('SOUTH AFRICA', 579),
             ('SOUTH ATLANTIC OCEAN', 12),
             ('SOUTH CHINA SEA', 1),
             ('SOUTH KOREA', 8),
             ('SOUTH PACIFIC OCEAN', 2),
             ('SOUTHWEST PACIFIC OCEAN', 2),
             ('SPAIN', 44),
             ('SRI LANKA', 14),
             ('ST HELENA, British overseas territory', 2),
             ('ST. MAARTIN', 1),
             ('ST. MARTIN', 1),
             ('SUDAN', 4),
             ('SUDAN?', 1),
             ('SWEDEN', 1),
             ('SYRIA', 1),
             ('Seychelles', 1),
             ('Sierra Leone', 1),
             ('TAIWAN', 9),
             ('TANZANIA', 8),
             ('TASMAN SEA', 1),
             ('THAILAND', 8),
             ('THE BALKANS', 1),
             ('TOBAGO', 2),
             ('TONGA', 15),
             ('TRINIDAD & TOBAGO', 3),
             ('TUNISIA', 3),
             ('TURKEY', 12),
             ('TURKS & CAICOS', 5),
             ('TUVALU', 1),
             ('UNITED ARAB EMIRATES', 2),
             ('UNITED ARAB EMIRATES (UAE)', 2),
             ('UNITED KINGDOM', 11),
             ('URUGUAY', 4),
             ('USA', 2229),
             ('Unknown', 49),
             ('VANUATU', 14),
             ('VENEZUELA', 11),
             ('VIETNAM', 15),
             ('WEST INDIES', 2),
             ('WESTERN SAMOA', 1),
             ('YEMEN', 2),
             ('YEMEN ', 7)])

The **Country** column is a huge mess. There are countries that are instanecs that have the same name but one has an extra space at the end, some have two possible locations, etc. The first thing that must be done is to make sure all names have the same capitalization, in this case uppercased, and delete all extra spaces. Afterwards, the a function will be created to deal with the different pattern cases.

In [22]:
#delete whitespace at the end and beggining of string
data.Country = data.Country.str.rstrip()

In [58]:
data.Country = data.Country.str.lstrip()

In [56]:
#Uppercase
data.Country = data.Country.apply(lambda x: x.upper())

In [94]:
def replace_character(column, pattern, substitute):
    column.replace(to_replace = pattern, value = substitute, regex=True)

In [95]:
prueba.Country = prueba['Country'].apply(replace_character(prueba.Country, r'B',r'A'))

TypeError: 'NoneType' object is not callable

In [38]:
#Change CEYLON (SRI LANKA) for SRI LANKA

data_clean.Country = data_clean.Country.replace(to_replace = r'\s\(\w{3}\s\w{5}\)' , value = "", regex = True)

In [39]:
data_clean.Country = data_clean.Country.replace(to_replace = "CEYLON" , value = "SRI LANKA" )

In [40]:
#Eliminat e the '?' at the end of certain countries'

data_clean.Country = data_clean.Country.replace(to_replace = r"\?$", value = "", regex = True)

In [81]:
#Replace ST MAARTIN for ST MARTIN

prueba.Country = prueba.Country.replace(to_replace = 'MAARTIN', value = 'MARTIN', regex = True)

In [44]:
data_clean.Country = data_clean.Country.replace(to_replace = 'U[A-Z][A-Z][A-Z][A-Z][A-Z][A-Z]', value = 'Unknown')

In [45]:
x = data_clean.Country.sort_values(ascending = True)

In [46]:
data_clean.Country.value_counts().head(20)

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
BRAZIL               112
BAHAMAS              109
MEXICO                89
ITALY                 71
FIJI                  62
PHILIPPINES           62
REUNION               60
NEW CALEDONIA         53
Unknown               50
CUBA                  46
MOZAMBIQUE            45
SPAIN                 44
INDIA                 40
EGYPT                 38
JAPAN                 34
Name: Country, dtype: int64

#### Check the 'Time' column

In [57]:
#working between ranges is not ging to be helpful, so we are going to use the lower hour for this analysis
#first, we delete the section that goes after '--''

data_clean.Time = data_clean.Time.replace(to_replace = r'(s\--\s\w{2}\w\w{2})', value ='', regex = True )

In [47]:
#Afternoon is the time between noon and evening, so we are going to assing 16h00 as the midpoint

data_clean.Time = data_clean.Time.replace(to_replace = 'Afternoon', value ='16h00')

In [48]:
#Dusk starts around 18:30

data_clean.Time = data_clean.Time.replace(to_replace = 'Dusk', value ='18h30')

In [49]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Early morning', value ='07h30')

In [50]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Early afternoon', value ='18h00')

In [51]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Evening', value ='20h00')

In [52]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Late afternoon', value ='19h30')

In [53]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Midday', value ='12h00')

In [54]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Midnight', value ='00h00')

In [55]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Morning', value ='08h30')

In [56]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Night', value ='21:30')

In [58]:
#now those that only have one '-'
data_clean.Time = data_clean.Time.replace(to_replace = r'(s\-\s\w{2}\w\w{2})', value ='', regex = True )

In [59]:
data_clean.Time = data_clean.Time.replace(to_replace = r'\s*', value ='', regex = True )

In [60]:
data_clean.Time = data_clean.Time.replace(to_replace = r'\s$', value ='', regex = True )

In [61]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\/\s\w{5})', value ='', regex = True )

In [62]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\s\-\w{2}\w\w{2})', value ='', regex = True )

In [63]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\-\w{2}\w\w{2})', value ='', regex = True )

In [64]:
data_clean.Time = data_clean.Time.replace(to_replace = r'( \w{2} \w{5})', value ='', regex = True )

In [65]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\/\s\w{5})', value = '', regex = True )

In [66]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\,\s\w{4})', value ='', regex = True )

In [67]:
data_clean.Time = data_clean.Time.replace(to_replace = r'\,\w', value ='', regex = True )

In [68]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\s\(\w*\))', value ='', regex = True )

In [69]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\(\w*\))', value ='', regex = True )

In [70]:
data_clean.Time = data_clean.Time.replace(to_replace = r'( \-\w*\s\w*\s\w*\s\w*)', value ='', regex = True )

In [71]:
data_clean.Time = data_clean.Time.replace(to_replace = r'[a-z]{2}\w*', value ='', regex = True )

In [72]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\/\w*)', value ='', regex = True )

In [74]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\<*)', value ='', regex = True )

In [75]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\>*)', value ='', regex = True )

In [76]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\?$)', value ='', regex = True )

In [77]:
data_clean.Time = data_clean.Time.replace(to_replace = '13h345', value ='13h45', regex = True )

In [78]:
data_clean.Time = data_clean.Time.replace(to_replace = '15h00j', value ='15h00')

In [79]:
data_clean.Time = data_clean.Time.replace(to_replace = '0830', value ='08:30')

In [80]:
data_clean.Time = data_clean.Time.replace(to_replace = '11h115', value ='11h15')

In [81]:
data_clean.Time = data_clean.Time.replace(to_replace = '1500', value ='15h00')

In [82]:
data_clean.Time = data_clean.Time.replace(to_replace = '06j00', value ='06h00')

In [140]:
data_clean.Time = data_clean.Time.replace(to_replace = r'[a-z]', value =':', regex = True)

In [141]:
x = data_clean.Time.sort_values(ascending = True)

#### Checking the 'Type' column

In [85]:
data_clean.Type = data_clean.Type.replace(to_replace = 'Boating', value = 'Boat')

In [86]:
data_clean.Type = data_clean.Type.replace(to_replace = 'Boatomg', value = 'Boat')

In [87]:
data_clean.Type.value_counts().head()

Unprovoked      4595
Provoked         574
Invalid          547
Boat             341
Sea Disaster     239
Name: Type, dtype: int64

#### Checking the 'Activity' column

In [88]:
#I'm not interested in the subdivisions of the activties, so I'm going to eleiminate all the unnecesary information

data_clean.Activity= data_clean.Activity.replace(to_replace = r'\s(\w*\s)*\w*', value ='', regex = True )

In [89]:
#Delete all parentheis after the first word

data_clean.Activity= data_clean.Activity.replace(to_replace = r'(\-\w*)+', value ='', regex = True )

In [90]:
#Deleting all non word characters

data_clean.Activity= data_clean.Activity.replace(to_replace = r'\W+', value ='', regex = True )

In [91]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Surf', value ='Surfing')

In [153]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Body', value ='Surfing')

In [150]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Surfinging', value ='Surfing')

In [162]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Surfingsitting', value ='Surfing')

In [97]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Windsurfing', value ='Surfing')

In [98]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Paddling', value ='Surfing')

In [99]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Paddle', value ='Surfing')

In [100]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Kayak', value ='Kayaking')

In [101]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Kayakinging', value ='Kayaking')

In [102]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Freedom', value ='Swimming')

In [156]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Scuba', value ='Diving')

In [104]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Dived', value ='Diving')

In [161]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Divingsubmerged', value ='Diving')

In [157]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Divingdiving', value ='Diving')

In [107]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Divingbut', value ='Diving')

In [108]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Pearl', value ='Diving')

In [109]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Free', value ='Diving')

In [110]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Floating', value ='Bathing')

In [111]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'boat', value ='Boating' )

In [112]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Boat', value ='Boating')

In [113]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Boatinging', value ='Boating')

In [114]:
data_clean.Activity= data_clean.Activity.replace(to_replace = 'Sailing', value ='Boating')

In [163]:
x = data_clean.Activity.sort_values(ascending = True)

In [166]:
data_clean.Activity.value_counts().head(10)

Surfing         1233
Swimming        1073
Fishing          599
Unknown          548
Diving           463
Spearfishing     395
Bathing          227
Wading           164
Standing         130
Snorkeling        93
Name: Activity, dtype: int64

#### Checking the 'Sex' column

In [182]:
x = data_clean["Sex "].sort_values(ascending = True)

In [172]:
data_clean["Sex "]= data_clean["Sex "].replace(to_replace = 'N', value ='M')

In [175]:
data_clean["Sex "]= data_clean["Sex "].replace(to_replace = 'lli', value ='Unknown')

In [179]:
data_clean["Sex "]= data_clean["Sex "].replace(to_replace = '.', value ='Unknown')

#### Checking the 'Fatal' columns

In [115]:
data_clean["Fatal (Y/N)"] = data_clean["Fatal (Y/N)"].replace(to_replace = r'\s*', value ='', regex = True )

In [116]:
data_clean["Fatal (Y/N)"] = data_clean["Fatal (Y/N)"].replace(to_replace = 'M', value = 'N')

In [189]:
data_clean["Fatal (Y/N)"] = data_clean["Fatal (Y/N)"].replace(to_replace = 'y', value = 'Y')

In [117]:
data_clean["Fatal (Y/N)"] = data_clean["Fatal (Y/N)"].replace(to_replace = '2017', value = 'Unknown' )

In [185]:
data_clean["Fatal (Y/N)"] = data_clean["Fatal (Y/N)"].replace(to_replace = 'UNKNOWN', value = 'Unknown' )

In [190]:
x = data_clean["Fatal (Y/N)"].sort_values(ascending=True)

We know they don't have the exact same information, but, as the number of observations that differ is very small, we can use just one of them. In this case we're going to use the 'Case Number' column, as we can assume that it is the combination of 'Case Number.1' and 'Case NUmber.2'

In [129]:
data_clean = data_clean .drop(["Case Number.1", "Case Number.2"], axis = 1)

#### Now, we are going to clean the 'Case Number' column in order to have just one format

In [130]:
# We delele the fragemnts that come after the last '.'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'(\.\w$)', value = '', regex = True)

In [131]:
#We delete the combination of uppercase and number after a '.'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.[A-Z]\w', value = '', regex = True)

In [132]:
#We delete the combination of upper or lowercase that come after a '.'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.[A-Z]|[a-z]', value = '', regex = True)

In [133]:
#We delete the last '.' 

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.$', value = '', regex = True)

In [134]:
#We delete the '.' and '&' combination

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\.\ \&', value = '', regex = True)

In [135]:
#We delete the '/'

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'\/', value = '', regex = True)

In [136]:
#We delete the combination of '.' or '-' and 0-1 letter after

data_clean["Case Number"] = data_clean["Case Number"].replace(to_replace = r'(\.|-)\w?$', value = '', regex = True)

In [137]:
data_clean

,Case Number,Year,Type,Country,Area,Activity,Sex,Injury,Fatal (Y/N),Time
original order,,,,,,,,,,
6303.0,2018.06.25,2018.0,Boat,USA,California,Surfing,F,"No injury to occupant, outrigger canoe and pad...",N,18h00
6302.0,2018.06.18,2018.0,Unprovoked,USA,Georgia,Standing,F,Minor injury to left thigh,N,14h00
6301.0,2018.06.09,2018.0,Invalid,USA,Hawaii,Surfinging,M,Injury to left lower leg from surfboard skeg,N,07h45
6300.0,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfinging,M,Minor injury to lower leg,N,07h45
6299.0,2018.06.04,2018.0,Provoked,MEXICO,Colima,Diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,07h45
...,...,...,...,...,...,...,...,...,...,...
6.0,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,FATAL,Y,16h00
5.0,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,FATAL,Y,16h00
4.0,ND.0003,0.0,Unprovoked,USA,North Carolina,Swimming,M,FATAL,Y,16h00
3.0,ND.0002,0.0,Unprovoked,PANAMA,Unknown,Unknown,M,FATAL,Y,16h00
2.0,ND.0001,0.0,Unprovoked,SRI LANKA,Eastern Province,Swimming,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,16h00

In [192]:
#We export the clean dataframe as csv.

data_clean.to_csv(r'C:\Users\juanp\Ironhack\pandas-project\data\data_clean.csv' , index = True)