### Pattern replacement using REGEX

This notebook has been created with the sole purpose of correcting the spelling mistakes that can be found in the attacks dataframe. The reason to create  this additional notebook is mainly practical, as there a lot of pattern to replace, and I have not been able to find of way of optimazing the process

In [51]:
import pandas as pd
import re
import collections
import numpy as np
pd.set_option('display.max_rows',6000)
from datetime import datetime, date

In [2]:
def counts(column):
    '''
    This function returns the value_counts() result of a column as a dictionary sorted by key in ascending order.
    Easier to examine.
    Args: the column of interest in the format of df.column or df["columnd"]
    '''
    s = (column.value_counts())
    dictionary =  s.to_dict()
    return collections.OrderedDict(sorted(dictionary.items()))

In [146]:
data = pd.read_excel("data\global_shark_attacks.xlsx")

In [131]:
data.shape

(6816, 16)

In [147]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source'],
      dtype='object')

In [148]:
data.columns = data.columns.str.strip()

In [135]:
data.head(7)

,Date,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2022-07-27 00:00:00,Unprovoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,M,13,Injury to upper lip,N,NaN,Nurse shark
1,2021-09-03 00:00:00,Unprovoked,USA,Louisiana,off Grand Isle,"Fishing, fell in water",M,64,Severe injury to leg,N,14h00,NaN
2,2021-05-06 00:00:00,Unprovoked,USA,Florida,"Daytona Beach Shores, Volusia County",Wading,F,21,Nick on foot,N,11h30,NaN
3,2020-12-08 00:00:00,Unprovoked,USA,Hawaii,Honolua Bay,Surfing,M,56,FATAL,Y,07h45,Tiger shark. 14'3
4,2020-10-30 00:00:00,Unprovoked,BAHAMAS,Grand Bahama Island,East End Point,Spearfishing,M,NaN,Hand/wrist bitten,N,NaN,Reef shark
5,2020-08-10 00:00:00,Provoked,USA,Florida,"Off Gasparilla Island, Charlotte County",Fishing,M,55,Injury to left forearm by hooked shark PROVOKE...,N,16h00,"Blacktip shark, 6'"
6,2020-06-06 00:00:00,Unprovoked,AUSTRALIA,Western Australia,"Tantabitti Beach, Nigaloo",NaN,F,NaN,NaN,UNKNOWN,NaN,NaN

In [149]:
data_clean = data.drop(columns = {'Case Number', 'Year','Name','Investigator or Source'})

In [150]:
# for categorical values I set Unknown and for date the next value
data_clean.isnull().sum()

Date            303
Type             22
Country          53
Area            481
Location        563
Activity        587
Sex             573
Age            2977
Injury           37
Fatal (Y/N)       0
Time           3503
Species        3082
dtype: int64

In [151]:
data_clean[["Type", "Country", "Area", "Activity", "Injury"
            ,"Sex", "Fatal (Y/N)", "Species", 
      "Location", "Age", "Time"]] = data_clean[["Type", "Country",
                                          "Area", "Activity", "Injury",
                                          "Sex", "Fatal (Y/N)","Species",
                                          "Location", "Age", "Time"]].fillna("Unknown")

In [152]:
data_clean["Date"] = data_clean["Date"].fillna("1800-01-01")

### Date

In [140]:
def clean_Date(row):
    if isinstance(row['Date'],str):
        try:
            # Extract the first four values to get the year
            year = int(row['Date'][0:4])
            # Extract the two values in the middle to get the month
            month = int(row['Date'][5:7])
            # Extract the two final values to get the day
            day = int(row['Date'][8:10])
            # Create the date value
            return date(year,month,day)
        except: 
            pass     
    else:
        # Remove time from datetime values
        return row['Date'].date()

In [153]:
data_clean['new_date'] = data_clean.apply(lambda row: clean_Date(row),axis=1)

In [ ]:
# data_clean['new_date'] = pd.to_datetime(data_clean['new_date']) --> I need to get rid of the seconds in datetime values

In [154]:
data_clean['new_date'] = pd.to_datetime(data_clean.new_date, errors = 'coerce')

In [157]:
data_clean = data_clean.drop(columns = {"Date"})

### Country

In [200]:
data_clean.Country = data_clean.Country.replace(to_replace = "CEYLON" , value = "SRI LANKA" )

In [201]:
data_clean.Country = data_clean.Country.replace(to_replace = r"\?$", value = "", regex = True)

In [202]:
data_clean.Country = data_clean.Country.replace(to_replace = 'MAARTIN', value = 'MARTIN', regex = True)

In [203]:
data_clean.Country = data_clean.Country.replace(to_replace = r'(\w* \/ .*)', value = 'UNKNOWN', regex = True)

In [204]:
data_clean.Country = data_clean.Country.replace(to_replace = 'RED UNKNOWN', value = 'UNKNOWN', regex = True)

In [205]:
data_clean.Country = data_clean.Country.replace(to_replace = 'SOLOMON UNKNOWN', value = 'SOLOMON ISLANDS', regex = True)

In [206]:
data_clean.Country = data_clean.Country.replace(to_replace = ' CEYLON (SRI LANKA)', value = 'SRI LANKA')

In [207]:
data_clean.Country = data_clean.Country.replace(to_replace = 'NEW GUINEA', value = 'PAPUA NEW GUINEA')

In [208]:
data_clean.Country = data_clean.Country.replace(to_replace = 'COLUMBIA', value = 'COLOMBIA')

In [209]:
data_clean.Country = data_clean.Country.replace(to_replace = {'ST HELENA, British overseas territory':'ST HELENA' 
                                                              , 'British Overseas Territory':'Unknown'}, regex=True)

In [210]:
data_clean.Country = data_clean.Country.replace(to_replace = 'JA MAICA', value='JAMAICA')

In [211]:
data_clean.Country = data_clean.Country.replace({' ISLANDS':'',' Island':''}, regex=True)

In [212]:
data_clean.Country = data_clean.Country.replace(to_replace = 'MALDIVE', value='MALDIVES')

In [213]:
data_clean.Country = data_clean.Country.replace(to_replace = 'UNITED ARAB EMIRATES (UAE)', value='UNITED ARAB EMIRATES')

### Second round of modifications to have the proper format for visualzation

In [214]:
data_clean.Country = data_clean.Country.apply(lambda x: x.title().strip() if x != 'USA' else x)

In [215]:
data_clean.Country = data_clean.Country.replace(to_replace = 'Okinawa', value = 'Japan')

In [216]:
data_clean.Country = data_clean.Country.replace(to_replace = 'New Britain', value = 'USA')

In [217]:
data_clean.Country = data_clean.Country.replace(to_replace = 'Azores', value = 'Portugal')

In [218]:
data_clean.Country = data_clean.Country.replace(to_replace = 'Burma', value = 'Myanmar')

In [219]:
data_clean.Country = data_clean.Country.replace(to_replace = 'Western Samoa', value = 'Samoa')

### Time

In [246]:
data_clean.Time = data_clean.Time.replace(to_replace = ['j','h'],value=':', regex=True)

In [223]:
data_clean.Time = data_clean.Time.replace({'Early ':'','Late ':'','early ':'','late ':'',
                                          'Before ':'','Prior to ':'', 'After ':'',
                                          'Just after ':''},regex=True)

In [224]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(s\--\s\w{2}\w\w{2})', value ='UNKNOWN',regex=True)

In [145]:
data_clean.Time = data_clean.Time.replace(to_replace = r'd{0,4}', value ='d{0,2}:d{0,2}', regex=True)

In [225]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Afternoon', value ='18h30',regex=True)

In [226]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Dusk', value ='07h30',regex=True)

In [227]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Late afternoon', value ='20h00',regex=True)

In [228]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Evening', value ='20h00')

In [229]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Late afternoon', value ='19h30')

In [230]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Midday', value ='12h00')

In [231]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Midnight', value ='00h00')

In [232]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Morning', value ='08h30', regex=True)

In [233]:
data_clean.Time = data_clean.Time.replace(to_replace = 'Night', value ='21h30')

In [234]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\/\w*)', value ='', regex = True )

In [235]:
data_clean.Time = data_clean.Time.replace(to_replace = '13h345', value ='13h45')

In [236]:
data_clean.Time = data_clean.Time.replace(to_replace = '15h00j', value ='15h00')

In [237]:
data_clean.Time = data_clean.Time.replace(to_replace = '0830', value ='08h30')

In [238]:
data_clean.Time = data_clean.Time.replace(to_replace = '11h115', value ='11h15')

In [239]:
data_clean.Time = data_clean.Time.replace(to_replace = '06j00', value ='06h00')

In [240]:
data_clean.Time = data_clean.Time.replace(to_replace = r'(\<*)', value ='', regex = True )

In [241]:
data_clean.Time = data.Time.replace(to_replace = r'(\>*)', value ='', regex = True )

In [242]:
data_clean.Time = data_clean.Time.replace(to_replace = 'fall', value ='', regex = True )

In [296]:
data_clean.Time = data_clean.Time.replace(to_replace = 'nig:t', value ='Unknown')

In [287]:
def clean_time(row):
    if isinstance(row['Time'],str) and len(row['Time']) == 5:
        return row['Time']
    else:
        return 'Unknown'

In [330]:
data_clean['Time'] = data_clean.apply(lambda row: clean_time(row),axis=1)

### Activity

In [32]:
def define_activity(row):
    if "helmet" in row['Activity'].lower() or "hardhat" in row['Activity'].lower():
        return "hardhat diving"
    elif "swimming" in row['Activity'].lower():
        return "swimming"
    elif "bath" in row['Activity'].lower() or "standing" in row['Activity'].lower() or "floating" in row['Activity'].lower() or "splash" in row['Activity'].lower() or "play" in row['Activity'].lower():
        return "bathing"
    elif "snorkel" in row['Activity'].lower():
        return "snorkelling"
    elif "kite" in row['Activity'].lower(): 
        return "kite surfing"
    elif "boogie" in row['Activity'].lower():
        return "boogie boarding"
    elif "dive" in row['Activity'].lower() or "diving" in row['Activity'].lower():
        return "diving"
    elif "fishing" in row['Activity'].lower() or "hunting" in row['Activity'].lower() or "Killing" in row['Activity'].lower() or "collecting" in row['Activity'].lower() or "crabbing" in row['Activity'].lower():
        return "fishing"
    elif "paddle" in row['Activity'].lower():
        return "paddle surfing"
    elif "kayak" in row['Activity'].lower() or "canoe" in row['Activity'].lower():
        return "kayaking/canoeing"
    elif "surf" in row['Activity'].lower():
        return "surfing"
    elif "cage" in row['Activity'].lower():
        return "cage diving"
    elif "diving" in row['Activity'].lower() or "dived" in row['Activity'].lower() or "dive" in row['Activity'].lower():
        return "diving"
    elif "film" in row['Activity'].lower():
        return "filming"
    elif "capsize" in row['Activity'].lower() or "disaster" in row['Activity'].lower() or "adrift" in row['Activity'].lower() or "wreck" in row['Activity'].lower() or "fell" in row['Activity'].lower():
        return "sea accident"
    elif "air" in row['Activity'].lower():
        return "airplane accident"
    elif "body board" in row['Activity'].lower() or "bodyboarding" in row['Activity'].lower():
        return "body boarding"
    elif "feed" in row['Activity'].lower():
        return "feeding"
    else: 
        return "other"

In [398]:
data_clean['activity'] = data_clean.apply(lambda row: define_activity(row), axis=1)

In [34]:
data['activity'] =  data.apply(lambda row: define_activity(row), axis=1)

### Sex

In [23]:
conditions = [
    (data.isin({"Sex":["M"]}))
]

values = ["MALE"]
data['test'] = np.select(conditions, values)

In [24]:
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,test
0,2022.07.27,2022-07-27 00:00:00,2022.0,Unprovoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Fischer Hricko,M,13,Injury to upper lip,N,NaN,Nurse shark,"Click Orlando, 7/28/2022",0
1,2021.09.03,2021-09-03 00:00:00,2021.0,Unprovoked,USA,Louisiana,off Grand Isle,"Fishing, fell in water",male,M,64,Severe injury to leg,N,14h00,NaN,"S. Wagemann, GSAF",0
2,2021.05.06,2021-05-06 00:00:00,2021.0,Unprovoked,USA,Florida,"Daytona Beach Shores, Volusia County",Wading,female,F,21,Nick on foot,N,11h30,NaN,"Daytona Beach News-Journal, 5/6/2021",0
3,2020.12.08,2020-12-08 00:00:00,2020.0,Unprovoked,USA,Hawaii,Honolua Bay,Surfing,Robin Warren,M,56,FATAL,Y,07h45,Tiger shark. 14'3,"M. Michelson, GSAF & K. McMurray, Tracking Sha...",0
4,2020.10.30,2020-10-30 00:00:00,2020.0,Unprovoked,BAHAMAS,Grand Bahama Island,East End Point,Spearfishing,Anthony Feaster,M,NaN,Hand/wrist bitten,N,NaN,Reef shark,"Bahamas Tribune, 11/4/2020",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6811,1830.04.30,1830-04-30,1830.0,Unprovoked,INDIA,Tamil Nadu,St. ThomÃ©,Bathing,Ensign Bromwick,M,NaN,FATAL,Y,17h00-18h00,NaN,"Madras Gazette, 5/1/1830",0
6812,1642.00.00,1642-01-01,1642.0,Unprovoked,USA,New York,Between Manhattan and The Bronx,Swimming,Antony Van Corlear,M,NaN,FATAL,Y,NaN,NaN,"Knickerbocker's History of New York, by Washin...",0
6813,ND.0096,NaN,NaN,Unprovoked,REUNION,Grand'Anse,Petite-Ã®le,yachtsman in a zodiac,NaN,M,NaN,Survived,N,NaN,NaN,G. Van Grevelynghe,0
6814,ND.0044,NaN,NaN,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,NaN,"FATAL, shark leapt into raft and bit the man w...",Y,Late afternoon,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69",0
6815,ND.0004,NaN,NaN,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",0

In [8]:
data.rename(columns={"Sex ":"Sex"}, inplace=True)

In [ ]:
data_clean.rename(columns={"Sex ":"Sex"}, inplace=True)

In [322]:
data_clean.Sex = data_clean.Sex.str.rstrip()

In [327]:
data_clean.Sex= data_clean.Sex.replace(to_replace = ['N','M x 2'], value ='M')

In [324]:
data_clean.Sex= data_clean.Sex.replace(to_replace = 'lli', value ='Unknown')

In [325]:
data_clean.Sex= data_clean.Sex.replace(to_replace = '.', value ='Unknown')

In [328]:
list(data_clean.Sex.unique())

['M', 'F', 'Unknown']

### Fatal

In [300]:
data_clean.rename(columns={"Fatal (Y/N)":"Fatal"},inplace=True)

In [314]:
data_clean.Fatal = data_clean.Fatal.replace(to_replace = ['M','n', 'Nq'], value = 'N' )

In [315]:
data_clean.Fatal = data_clean.Fatal.replace(to_replace = ['y','Y x 2','F'], value = 'Y' )

In [308]:
data_clean.Fatal = data_clean.Fatal.replace(to_replace = ['2017','2017.0'], value = 'Unknown' )

In [305]:
data_clean.Fatal = data_clean.Fatal.replace(to_replace = 'UNKNOWN', value = 'Unknown' )

In [316]:
list(data_clean.Fatal.unique())

['N', 'Y', 'Unknown']

### Species

In [414]:
data_clean.Species = data_clean.Species.str.lstrip()

In [420]:
data_clean.Species = data_clean.Species.replace(to_replace = r'\d.\d \w|\[.*]', value = '', regex = True)

In [429]:
data_clean.Species = data_clean.Species.replace(to_replace = "\['] |\[] |A |a |m |kg |-lb|\[' ']|\['  ']|\[ ']|\[']|\[. ']|\[.]|\[]|\' ' |\\' |\' |>m|to", value='', regex=True)

In [434]:
def species_column(value):
    for species in sharks:
        if species.lower() in value.lower():
            return species.lower()
        else: 
            pass

In [435]:
data_clean['shark_species'] = list(map(species_column,data_clean.Species))

### Data checkpoint

In [438]:
data_clean.to_csv(r'C:\Users\juanp\proyectos_varios\shark_attacks\data\data_clean.csv' , index = False)

In [44]:
data = pd.read_csv('data\\data_clean.csv')

In [51]:
area = data[data.Country.isin(['Spain', 'USA', 'Brazil', 'Mexico', 
      'Australia', 'South Africa', 'Papua New Guinea','Indonesia','New Zealanda'])]

In [52]:
def areas(row):
    if "Abau Sub" in row['Area']:
        return "Abau Sub District"
    elif "Alicante" in row['Area']:
        return "hardhat diving"
    elif "CÃ¡diz" in row["Area"] or "MÃ¡laga" in row["Area"] or "Granada" in row["Area"] or "Andalucia" in row["Area"]:
        return "Andalusia"
    elif "Baja" in row['Area']:
        return "Baja California"
    elif "Balearics" in row["Area"] or "Majorca" in row["Area"]:
        return "Balearic Islands"
    elif "Boi" in row["Area"]:
        return "Boi Island"
    elif "Bougainville" in row["Area"]:
        return "Bougainville"
    elif "Catalonia" in row["Area"] or "CastellÃ³n" in row['Area'] or "Costa Blanca" in row['Area'] or "Sants-Montjic" in row['Area']:
        return "Catalunya"
    elif "Galica" in row["Area"]:
        return "Galicia"
    elif "Gran Canaria" in row["Area"] or "Grand Canary Islan" in row["Area"] or "Canay Islands" in row['Area']:
        return "Canary Islands"
    elif "Guerro" in row["Area"] or "Guerrrero" in row["Area"]:
        return "Guerrero"
    elif "Eastern Cape" in row["Area"]:
        return "Eastern Cape Province"
    elif "Ibiza Island" in row["Area"]:
        return "Ibiza"
    elif "KZN" in row["Area"] or "KwaZulu" in row["Area"]:
        return "KwaZulu-Natal"
    elif "Madang" in row["Area"]:
        return "Madang"
    elif "Bismarck" in row["Area"]:
        return "Bismarck Archipelago"
    elif "Oro" in row["Area"]:
        return "Oro Province"
    elif "Quinta Roo" in row["Area"]:
        return "Quintana Roo"
    elif "Rio Grande" in row["Area"]:
        return "Rio Grande"
    elif "Cocos" in row["Area"]:
        return "Cocos Islands"
    elif "Vera Cruz" in row["Area"]:
        return "Veracruz"
    elif "Westerm" in row["Area"] or "Western  Australia"  in row["Area"]:
        return "Western Australia"
    elif "Alicante" in row['Area'] in row["Area"]:
        return "Alicante"
    elif "New Ireland" in row['Area']:
        return "New Ireland Province"
    else:
        return row["Area"]

In [53]:
area['area'] = area.apply(lambda row: areas(row), axis=1)

C:\Users\juanp\AppData\Local\Temp\ipykernel_11368\102652776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area['area'] = area.apply(lambda row: areas(row), axis=1)

In [ ]:
sharks = ['White shark','Sandtiger shark','Tiger shark','Lemon shark', 'Blacktip shark', 'Blacktail reef shark',
          'Blacktip reef shark', 'spinner shark','Blue nose shark','Blue pointer', 'Blue pointers', 'Blue shark',
         'Bonitshark','Broadnose sevenguill shark', 'Bronza whaler shark', 'Bronze whaler', 'Bull shark', 
          'Caribbean reef Shark', ' Caribbean reef Shark', 'Carpet shark', 'Copper shark', 'Dog shark', 'Cow shark',
         'Dusky shark', 'Galapagos shark', 'Grey nurse shark', 'Grey reef shark', 'Hammerhead shark',
          'Tiger shark','Wobbegong shark','Grey nurse shark','Nurse shark','Raggedoth shark', 'Mako shark',
         'Bronze whaler shark','Zambesi shark','Sand shark','Lemon shark','Basking shark',
         'Oceanic whitetip shark','Angel shark']

In [62]:
x = area.groupby(['Country','area']).agg({'area':'count'})

In [63]:
x = x.rename(columns={'area':'accidents'}).reset_index()

In [7]:
data['Time'] = data['Time'].replace(to_replace='Nig:t',value='21:00')

In [14]:
data.to_csv('data\\data_clean.csv')

In [67]:
x.to_csv('data\\areas.csv')

In [65]:
x

              Country                               area  accidents
0           Australia                      Cocos Islands          1
1           Australia                    New South Wales        457
2           Australia                 Northern Territory         25
3           Australia                         Queensland        312
4           Australia                    South Australia         98
5           Australia                           Tasmania         36
6           Australia                      Torres Strait         67
7           Australia                            Unknown          8
8           Australia                           Victoria         80
9           Australia                  Western Australia        212
10             Brazil                            Alagoas          1
11             Brazil                              Bahia          3
12             Brazil               BalneÃ¡rio CamboriÃº          1
13             Brazil                         Boi Island          1
14             Brazil                Fernando de Noronha          3
15             Brazil                          MaranhÃ£o          5
16             Brazil                         Pernambuco         77
17             Brazil                       Porto Seguro          1
18             Brazil                         Rio Grande          3
19             Brazil                     Rio de Janeiro         11
20             Brazil               Santa Catarina State          1
21             Brazil                        SÃ£o Paulo.          2
22             Brazil                            Unknown          6
23          Indonesia               30 nm from Singapore          1
24          Indonesia                               Bali          7
25          Indonesia                        East Flores          1
26          Indonesia                          East Java          1
27          Indonesia                    Jakarta Harbour          1
28          Indonesia                               Java          3
29          Indonesia                    Maluku Province          1
30          Indonesia                      North Sumatra          1
31          Indonesia                      Nusa Tenggara          1
32          Indonesia                            Unknown          3
33             Mexico                    Baja California         12
34             Mexico                     Cabo San Lucas          1
35             Mexico                             Colima          4
36             Mexico                           Guerrero         21
37             Mexico                            Guyamas          1
38             Mexico             Mexico / Caribbean Sea          1
39             Mexico                             Oaxaca          1
40             Mexico                       Quintana Roo         14
41             Mexico                            Sinaloa          3
42             Mexico                             Sonora          2
43             Mexico                            Tabasco          1
44             Mexico                         Tamaulipas          5
45             Mexico                            Unknown          6
46             Mexico                           Veracruz         15
47   Papua New Guinea                      10ÂºS, 142ÂºE          1
48   Papua New Guinea                  Abau Sub District          4
49   Papua New Guinea  Admiralty Islands, Manus Province          8
50   Papua New Guinea               Bismarck Archipelago          6
51   Papua New Guinea                       Bougainville          8
52   Papua New Guinea                           Bwagaoia          1
53   Papua New Guinea               Calvados Archipelago          1
54   Papua New Guinea                   Central Province         21
55   Papua New Guinea                   East New Britain          1
56   Papua New Guinea                         East Sepik          2
57   Papua New Guinea                      Gulf Province          2
58   Papua New Guinea                 Kikori River mouth          1
59   Papua New Guinea              Louisiade Archipelago          3
60   Papua New Guinea                             Madang         21
61   Papua New Guinea                 Milne Bay Province          8
62   Papua New Guinea                    Morobe Province          7
63   Papua New Guinea                        New Britain          8
64   Papua New Guinea               New Ireland Province         18
65   Papua New Guinea                  Northern District          1
66   Papua New Guinea                       Oro Province          1
67   Papua New Guinea                      Pacific Ocean          1
68   Papua New Guinea                   Rigo subdistrict          1
69   Papua New Guinea                   Sandaun Province          1
70   Papua New Guinea                            Unknown          6
71   Papua New Guinea          West New Britain Province          7
72   Papua New Guinea                   Western District          1
73   Papua New Guinea                Western Papuan Gulf          1
74       South Africa              Eastern Cape Province        160
75       South Africa                   Eastern Province          1
76       South Africa                      KwaZulu-Natal        206
77       South Africa               South Atlantic Ocean          1
78       South Africa                          Transvaal          1
79       South Africa                            Unknown          5
80       South Africa              Western Cape Province        188
81       South Africa                   Western Province          1
82              Spain                          Andalusia          4
83              Spain                   Balearic Islands          2
84              Spain                     Canary Islands         11
85              Spain                          Catalunya          8
86              Spain                            Galicia          2
87              Spain                              Ibiza          1
88              Spain                           Valencia          2
89              Spain                     hardhat diving          4
90                USA                            Alabama         14
91                USA                             Alaska          1
92                USA                            BAHAMAS          1
93                USA                            Bahamas          1
94                USA                         California        314
95                USA                     Carolina coast          1
96                USA                     Cayman Islands          1
97                USA                        Connecticut          4
98                USA                           Delaware          8
99                USA               Duke of York Islands          2
100               USA          East New Britain Province          2
101               USA                            Florida       1122
102               USA           Franklin County, Florida          1
103               USA                            Georgia         16
104               USA                               Guam          2
105               USA                             Hawaii        307
106               USA                           Illinois          1
107               USA                     Johnston Atoll          1
108               USA                           Kentucky          1
109               USA                          Louisiana         17
110               USA                              Maine          2
111               USA                           Maryland          7
112               USA                      Massachusetts         13
113               USA                               Maui          2
114               USA                       Midway Atoll          1
115               USA                        Mississippi          6
116               USA                           Missouri          1
117               USA                         New Jersey         46
118               USA                         New Mexico          1
119               USA                           New York         24
120               USA                    Noirth Carolina          1
121               USA             North & South Carolina          1
122               USA                     North Carolina        110
123               USA                             Oregon         31
124               USA                      Palmyra Atoll          2
125               USA                       Pennsylvania          1
126               USA                        Puerto Rico         16
127               USA                       Rhode Island          4
128               USA                     South Carolina        151
129               USA      South Coast, East New Britain          1
130               USA                              Texas         72
131               USA                  US Virgin Islands          5
132               USA                            Unknown          4
133               USA                     Virgin Islands          1
134               USA                           Virginia         16
135               USA                        Wake Island          1
136               USA                         Washington          2
137               USA                         West coast          1